<div #progressBar class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
</div>

<!-- I <b> i <strong> html tagovi se ne preporucuju da se tekst bolduje, vec se preporucuje css font-weight: bold (vidi https://developer.mozilla.org/en-US/docs/Web/HTML/Element/b , https://developer.mozilla.org/en-US/docs/Web/HTML/Element/strong) -->
<div class="container">
	<p style="font-weight: bold;">
		Please, provide your email, so we can safely reset your password
	</p>
	
	<form #forgotPasswordForm="ngForm" (ngSubmit)="forgotPasswordRequest(email); forgotPasswordForm.reset()">
		<!-- Label pored (umesto iznad) inputa radio po uzoru na ovo https://getbootstrap.com/docs/4.0/components/forms/#horizontal-form -->
		<div class="form-group row">
		  <label for="email" class="col-sm-2 col-lg-1 col-form-label myclass-email-label">Email:</label> 
		  <input #emailTemplate="ngModel" [(ngModel)]="email" type="email" name="email" id="email" class="form-control col-8 col-md-6 col-lg-5" aria-describedby="emailHelp" placeholder="Enter email" required email> 
		</div>
	
		<div class="row" *ngIf="emailTemplate.invalid && (emailTemplate.dirty || emailTemplate.touched)">
			<div class="alert alert-danger offset-sm-2 offset-lg-1 col-8 col-md-6 col-lg-5 myclass-email-error">
			    <div *ngIf="emailTemplate.errors.required">
			        Email is required.
			    </div>
			
			    <div *ngIf="emailTemplate.errors.email && emailTemplate.dirty">
			        Please provide valid email address.
			    </div>
			</div>
		</div>
	
	  <div class="row">
	  	<button type="submit" [disabled]="!forgotPasswordForm.valid" class="btn btn-primary offset-sm-2 offset-lg-1 myclass-email-submit">Submit</button>
	  </div>
	</form>
</div>