.progress{
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 10px;
	border-radius: 0;
	z-index: 1;
}

.progress .progress-bar{
	width: 100%;
	-webkit-animation: progress-bar-stripes 0.5 linear infinite;
  	animation: progress-bar-stripes 0.5s linear infinite;
}

.alert.alert-danger{
	margin-top: 5px;
}

#myid-image-cropper-container{
	width: 50%;
	display: inline-block;
}

/*#myid-image-upload-button{
	background-color: #F0F2F4;
	border-color: #F0F2F4;
}

#myid-image-upload-button:hover{
	
}*/

#myid-cropped-image-container{
	display: inline-block;
	text-align: center;
	max-width: 50%;
	vertical-align: middle;
}

#myid-cropped-image-container p{
	text-align: left;
}

.myclass-upload-image-error{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	animation: flash-message 4s forwards;
	animation-delay: 4s;
} 

@keyframes flash-message {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

@media (max-width: 991.98px) {
	#myid-image-cropper-container{
		width: 65%;
	}

	#myid-cropped-image-container{
		max-width: 30%;
	}
	
	#myid-cropped-image-container p{
		text-align: center;
	}
}

@media (max-width: 575.98px) {
	#myid-choose-profile-image{
		width: 100%;
	}

	#myid-clear-profile-image{
		width: 100%;
		margin-top: 5px;
	}

	/*#myid-cropped-image-container{
		vertical-align: bottom;
	}*/

	#myid-cropped-image-container img{
		width: 80%;
	}

	.myclass-upload-image-error{
		width: 100%;
	}

	#myid-image-cropper-container{
		width: 70%;
	}

	#myid-cropped-image-container{
		max-width: 25%;
	}

	#myid-cropped-image-container img{
		width: 90%;
	}

	#myid-cropped-image-container p{
		font-size: 14px;
	}
	
}
