<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
</div>

<form #registerForm="ngForm" (ngSubmit)="register()">
    
    <div class="form-group">
        <label for="firstName">
           First name
       </label>
        <input #firstName="ngModel" [(ngModel)]="user.firstName" type="text" required class="form-control" id="firstName" name="firstName">
        <!-- ova validacija je inace radjena isto kao i ovde https://angular.io/guide/form-validation#template-driven-validation -->
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
            <div *ngIf="firstName.errors.required">
                 First name is required.
            </div>            
        </div>
    </div>

    <div class="form-group">
        <label for="lastName">
           Last name
       </label>
        <input #lastName="ngModel" [(ngModel)]="user.lastName" type="text" required class="form-control" id="lastName" name="lastName">

        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
            <div *ngIf="lastName.errors.required">
                 Last name is required.
            </div>            
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input #email="ngModel" [(ngModel)]="user.email" type="email" class="form-control" id="email" name="email" required email>

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
                Email is required.
            </div>

            <div *ngIf="email.errors.email">
                Please provide valid email address.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="password">
           Password
           
       </label>
        <input #password="ngModel" [(ngModel)]="user.password" required minlength="8" pattern="\w*[0-9]{1,}\w*" 
            type="password" class="form-control" id="password" name="password">

        <div *ngIf="password.invalid && password.dirty" class="alert alert-danger">
	           <div *ngIf=" password.errors.required ">
	              Password is required
	           </div>
	           <div *ngIf=" password.errors.minlength ">
	              Password must be at least 8 chars
	           </div>
	           <div *ngIf=" password.errors.pattern ">
	              Password must contain at least one number
	           </div>
	      </div>
    </div>


    <div class="form-group">
        <label for="password_confirmation">
           Confirm Password
           
       </label>
        <input #confirmPassword="ngModel" [(ngModel)]="user.confirmPassword" required 
            type="password" class="form-control" id="password_confirmation" name="password_confirmation">
        <div *ngIf="confirmPassword.invalid && confirmPassword.dirty" class="alert alert-danger">
        	<div *ngIf=" confirmPassword.errors.required ">
        		Confirmed password is required
        	</div>
        </div>
        <div *ngIf="confirmPassword.touched && confirmPassword.value !== password.value" class="alert alert-danger">
        	<div>Confirmed password is not the same password</div>
        </div>
    </div>

    <div class="form-check">
	    <label class="form-check-label">
	      <input type="checkbox" class="form-check-input" name="acceptedTerms" required #acceptedTerms="ngModel" [(ngModel)]="user.acceptedTerms">
	      I accept terms and conditions
	    </label>
  	</div>

    <button type="submit" [disabled]="!registerForm.valid || confirmPassword.value !== password.value" id="myid-register-submit-button" class="btn btn-primary btn-block">Register</button>
</form>

