<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
</div>

<form #registerForm="ngForm" (ngSubmit)="registerWithProfileImage()">
    
    <div class="form-group">
        <label for="firstName">
           First name
       </label>
        <input #firstName="ngModel" [(ngModel)]="user.firstName" type="text" required class="form-control" id="firstName" name="firstName">
        <!-- ova validacija je inace radjena isto kao i ovde https://angular.io/guide/form-validation#template-driven-validation , a kompletna validacija je radjena po uzoru i kolko vidim maltene je ista kao i ova ovde https://gitlab.com/vivify-ideas/vivifyacademy-advanced-rest-api-movies-fe/blob/master/src/app/components/register/register.component.html -->
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
            <div *ngIf="firstName.errors.required">
                 First name is required.
            </div>            
        </div>
    </div>

    <div class="form-group">
        <label for="lastName">
           Last name
       </label>
        <input #lastName="ngModel" [(ngModel)]="user.lastName" type="text" required class="form-control" id="lastName" name="lastName">

        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
            <div *ngIf="lastName.errors.required">
                 Last name is required.
            </div>            
        </div>
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input #email="ngModel" [(ngModel)]="user.email" type="email" class="form-control" id="email" name="email" required email>

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
                Email is required.
            </div>

            <div *ngIf="email.errors.email">
                Please provide valid email address.
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="password">
           Password
           
       </label>
        <input #password="ngModel" [(ngModel)]="user.password" required minlength="8" pattern="\w*[0-9]{1,}\w*" 
            type="password" class="form-control" id="password" name="password">

        <div *ngIf="password.invalid && password.dirty" class="alert alert-danger">
	           <div *ngIf=" password.errors.required ">
	              Password is required
	           </div>
	           <div *ngIf=" password.errors.minlength ">
	              Password must be at least 8 chars
	           </div>
	           <div *ngIf=" password.errors.pattern ">
	              Password must contain at least one number
	           </div>
	      </div>
    </div>


    <div class="form-group">
        <label for="password_confirmation">
           Confirm Password
           
       </label>
        <input #confirmPassword="ngModel" [(ngModel)]="user.confirmPassword" required 
            type="password" class="form-control" id="password_confirmation" name="password_confirmation">
        <div *ngIf="confirmPassword.invalid && confirmPassword.dirty" class="alert alert-danger">
        	<div *ngIf=" confirmPassword.errors.required ">
        		Confirmed password is required
        	</div>
        </div>
        <div *ngIf="confirmPassword.touched && confirmPassword.value !== password.value" class="alert alert-danger">
        	<div>Confirmed password is not the same password</div>
        </div>
    </div>

    <!-- ************** Image Cropper ************* -->

    <div id="myid-image-upload-wrapper">
        <label>Your profile image</label>
        <div>
            <input type="file" id="myid-choose-profile-image" class="btn btn-light" (change)="fileChangeEvent($event)" />
            
            <button type="button" id="myid-clear-profile-image" class="btn btn-dark" *ngIf="imageChangedEvent || croppedImage" (click)="clearImage()">Clear image</button>
        </div>

        <div #uploadImageErrorDiv [hidden]="!uploadImageError" class="alert alert-danger myclass-upload-image-error">
          {{uploadImageError}}
        </div>
    
        <div id="myid-image-cropper-container">
            <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="1 / 1"
                [resizeToWidth]="128"
                format="png"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
        </div>
        <div *ngIf="croppedImage" id="myid-cropped-image-container">
            <p>
                You can crop the image with handles.<br>
                It will look like this:
            </p>
            <!-- ovde stavljam [style.borderRadius]="'50%'" cisto da vidis sintaksu kako se pise, inace mogao je komotno ovde da ide samo style atribut-->
            <img [src]="croppedImage" [style.borderRadius]="'50%'"/>
        </div>
    </div>
    <!-- ****************************************** -->

    <div class="form-check">
	    <label class="form-check-label">
	      <input type="checkbox" class="form-check-input" name="acceptedTerms" required #acceptedTerms="ngModel" [(ngModel)]="user.acceptedTerms">
	      I accept terms and conditions
	    </label>
  	</div>

    <button type="submit" [disabled]="!registerForm.valid || confirmPassword.value !== password.value" id="myid-register-submit-button" class="btn btn-primary btn-block">Register</button>
</form>

