a.dropdown-toggle.myclass-account-thumbnail{
	background-color: indianred;
	border-radius: 50%;
	width: 40px;
	text-align: center;
}

a.dropdown-toggle.myclass-account-thumbnail::after{
	display: none;
}