<img id="myid-central-logo" src="../../../assets/images/logo10-01.svg">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">AF galleries</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">View all galleries</a>
      </li>
      <li class="nav-item" *ngIf="authService.isAuthenticated">
        <a class="nav-link" href="#" routerLink="/create">Create new gallery</a>
      </li>
      
    </ul>
            
            <a class="nav-link" routerLink="/login" *ngIf="!authService.isAuthenticated">Login</a>
       
            <a class="nav-link" routerLink="/register" *ngIf="!authService.isAuthenticated">Register</a>

            
            <!-- Kopiran obican dropdown iz navbar-a i skinuta klasa mr-auto iz ul taga, a dodata klasa dropdown-menu-right dole u dropdown div-->

            <ul id="myid-logged-user-dropdown-links" class="navbar-nav" *ngIf="authService.isAuthenticated">
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle myclass-account-thumbnail" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span>{{authService.loggedUserNameFirstLetter}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#" routerLink="/my-galleries">My galleries</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" (click)="authService.logout()">Logout</a>
                </div>
              </li>
              
            </ul>
            <!-- ****************************************** -->

            <span id="myid-logged-user-regular-links">
              <a class="nav-link" routerLink="/my-galleries" *ngIf="authService.isAuthenticated">My galleries</a>
              
              <!-- Ukoliko nemas u donjem primeru href="#" neces imati lepo dizajniran link  -->
              
              <a class="nav-link" href="#" (click)="authService.logout()" *ngIf="authService.isAuthenticated">Logout</a>
            </span>
  </div>
</nav>

<!-- <br> -->

<div class="container myclass-router-outlet-wrapper">
	<router-outlet></router-outlet>
</div>