
/*
.myclass-choose-image-wrapper{
	display: flex;
}

.myclass-choose-image-wrapper form-group{
	flex: 1;
}*/

.card-body{
	background-color: lightyellow;
	display: flex;
	flex-wrap: wrap;
	/*Skupljanje komponente:*/
	padding-top: 8px;
	padding-bottom: 0;
}

.card-header{
	display: flex;
	justify-content: space-between;
	/*Skupljanje komponente:*/
	padding-top: 10px;
	padding-bottom: 5px;
}

.card-footer{
	display: flex;
	justify-content: center;
	/*Skupljanje komponente:*/
	padding-top: 5px;
	padding-bottom: 8px;
}

.myclass-choose-image{
	background-color: #FFF399FF;
	flex: 1;
	padding: 10px;
}

.myclass-image-url{
	margin-bottom: 8px;
}

.myclass-image-description{
	background-color: lightyellow;
	flex: 2;
	padding: 10px;

}

.myclass-image-thumbnail{
	text-align: center;
}

.myclass-image-thumbnail img{
	width: 80%;
}
.myclass-gif-loader{
	text-align: center;
}

.myclass-arrow-link{
	
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 5px;
}

.myclass-image-arrow{
	line-height: 1;
	font-size: 35px;
	color: #007bff;
	border-radius: 50%;
	display: inline-block;
}

.myclass-image-arrow:hover{
	color: #51A5FF;
}

.myclass-delete-link{
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 5px;
}

.myclass-image-delete{
	line-height: 1;
	font-size: 35px;
	color: #BC0000;
	border-radius: 50%;
	display: inline-block;
}

.myclass-image-delete:hover{
	color: #EA0000;
	cursor: pointer;
}

.myclass-upload-image-error{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	animation: flash-message 4s forwards;
	animation-delay: 4s;
} 

@keyframes flash-message {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

@media (max-width: 991.98px){
	
	.card-body{
		font-size: 15px;
	}

	.myclass-choose-image{
		
	}

	.myclass-image-url{
		width: 250px;
	}

	.myclass-image-description{
		
	}
}

@media (max-width: 767.98px){
	
	.card-body{
		font-size: 13px;
		padding: 5px;
	}

	.myclass-choose-image{
		
	}

	.myclass-image-url{
		width: 220px;
	}

	.myclass-image-description{
		
	}
}




@media (max-width: 500px){
	
	.card-body{
		display: block;
	}

	.myclass-choose-image{
		max-width: 250px;

	}

	.myclass-image-url{
		width: 220px;
	}

	.myclass-image-thumbnail{
		text-align: left;
	}

	.myclass-image-description{
		
	}
}
