<div *ngIf="gallery">

	<h1>{{ gallery.name }}</h1>
	<h4>{{ gallery.description }}</h4>
	
	<div class="myclass-view-gallery-container">
		
		<a *ngFor="let image of gallery.images" href="{{image.url}}" target="_blank">
			<img src="{{image.url}}" class="myclass-view-gallery-images" (load)="resizeImageIfVertical($event)">
		</a>
	
	</div>

	<div class="myclass-add-comment-form">
		
		<form (ngSubmit)="addGalleryComment()">
		  <div class="form-group">
		    <label for="exampleFormControlTextarea1">Your comment for this gallery:</label>
		    <textarea [(ngModel)]="galleryComment.commentBody" name="galleryComment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		  </div>
		  <button type="submit" class="btn btn-primary">Add comment</button>
		</form>
		
	</div>

	<div class="myclass-gallery-comments">
		
		<!-- skinuto sa https://getbootstrap.com/docs/4.0/layout/media-object/ -->
		<div class="media" *ngFor="let comment of gallery.comments | reverse">
			<!-- reverse pipe napravljen po odogovoru od Thierry Templier sa ovog linka https://stackoverflow.com/questions/35703258/invert-angular-2-ngfor -->
		  <!-- <img class="mr-3" alt="Image"> -->
			<div class="myclass-account-thumbnail mr-3"><span>{{comment.user.first_name.charAt(0).toUpperCase()}}</span></div>
		  <div class="media-body">
		    <h5 class="mt-0">{{comment.user.first_name}} {{comment.user.last_name}} <small class="text-muted">{{comment.created_at | date: "yyyy-MM-dd"}}</small></h5>
		    {{comment.comment_body}}
		  </div>
		</div>
	
	</div>

</div>
