
<input id="filter-galleries-input" class="form-control col-lg-6" type="search" placeholder="Filter galleries" aria-label="Filter galleries by name, description or author">
<small class="form-text text-muted">Filter galleries by name, description or author</small>

<!-- <ul *ngFor="let gallery of galleries">
      <li class="list-group-item"><strong>Name:</strong> <a routerLink = "/galleries/{{gallery.id}}">{{ gallery.name }}</a></li>
      <li class="list-group-item"><strong>Description:</strong> {{ gallery.description }}</li>
      <li class="list-group-item"><strong>Created by:</strong> <a routerLink = "/authors/{{gallery.user_id}}">{{ gallery.user.firstName }}  {{ gallery.user.lastName}}</a> </li>
      <li class="list-group-item"><strong>Created at:</strong> {{ gallery.created_at | date: "yyyy-mm-dd" }}</li>
      <li class="list-group-item"><strong>Images:</strong> <a href="{{ gallery.images[0].url }}">{{ gallery.images[0].url }}</a>, ...</li>
</ul> -->

<div class="myclass-galleries-container">
	<div *ngFor="let gallery of showedGalleries" class="card text-left">
	  <div class="card-header">
	  	<h5 class="card-title"><a routerLink = "/galleries/{{gallery.id}}">{{ gallery.name }}</a></h5>
	    {{ gallery.description }}
	  </div>
	  <div class="card-body text-center">
	  	<img *ngFor="let image of gallery.images.slice(0, 6)" src="{{image.url}}" class="myclass-galleries-index-images">
	  </div>
	  <div class="card-footer text-muted">
	    <strong>Created by:</strong> <a routerLink = "/authors/{{gallery.user_id}}">{{ gallery.user.firstName }}  {{ gallery.user.lastName}}</a>
	    <strong>Created at:</strong> {{ gallery.created_at | date: "yyyy-MM-dd" }}
	    <span *ngIf="gallery.created_at !== gallery.updated_at"><strong>Last updated at:</strong> {{ gallery.updated_at | date: "yyyy-MM-dd" }}</span>
	  </div>
	</div>
	

	<!-- stari kod za popover koji je instaliran preko npm-a, ali je imao taj bug da se raspada u toku loadovanja stranice - sam popover bezi na gore! -->
	<!-- <div [ngStyle]="{'display': showedGalleries.length > 0 ? 'inline-block' : 'none' }">
		<div id="myid-load-more-popover-arrow">▼</div>
		<div class="myclass-popover-div-wrapper">
			
			<div class="myclass-popover-div" popover="There are no more galleries to show" [popoverOnHover]="true" popoverPlacement="top" [popoverDisabled]="!btnDisabled">
				
				<button id="myid-btnLoadMore" class="btn btn-primary" [disabled]="btnDisabled" (click)="loadGalleries()">Load more</button>
		
			</div>
		
		</div>
	</div> -->
	


	<!-- novi kod za moj samostalno napravljeni popover - mana mu je ta sto mora uvek biti prazan prostor iznad dugmeta, i sto ne moze da se preklapa sa elementima nego zahteva svoj prazan prostor, sto ovde ne predstavlja nikakav problem -->
	<div [ngStyle]="{'display': showedGalleries.length > 0 ? 'inline-block' : 'none', 'margin-top': '25px' }">
		

		<div class="myclass-new-popover-wrapper">
			<div id="myid-load-more-popover-message">There are no more galleries to show</div>
			<div id="myid-load-more-popover-arrow">▼</div>
		</div>
		

		<div class="myclass-popover-div-wrapper">
			
							
				<button id="myid-btnLoadMore" class="btn btn-primary" [disabled]="btnDisabled" (click)="loadGalleries()">Load more</button>
		
			
		
		</div>
	</div>


	<p *ngIf="noGalleriesAtAll">
		There are no galleries to show
	</p>

	<p *ngIf="noGalleriesWithFilterTerm">
		There are no galleries with provided term
	</p>

</div>
