/*Senke, gradijenti i pozadine generisane ovde https://www.cssmatic.com/ */

.card{
	/*-webkit-box-shadow: 0px 0px 17px 0px rgba(87,87,87,1);
	-moz-box-shadow: 0px 0px 17px 0px rgba(87,87,87,1);
	box-shadow: 0px 0px 17px 0px rgba(87,87,87,1);*/

	/*-webkit-box-shadow: 0px 0px 23px 0px rgba(128,128,128,1);
	-moz-box-shadow: 0px 0px 23px 0px rgba(128,128,128,1);
	box-shadow: 0px 0px 23px 0px rgba(128,128,128,1);*/
	
}


.card-header{
	background: linear-gradient(to right, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	/*background: url(http://api.thumbr.it/whitenoise-361x370.png?background=f0f0f0ff&noise=969696&density=20&opacity=15)*/
}

.card-footer{
	background: linear-gradient(to right, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
	/*background: url(http://api.thumbr.it/whitenoise-361x370.png?background=f0f0f0ff&noise=969696&density=20&opacity=15)*/
}
