<!-- Redirekcija na stranicu odradjena uz pomoc ovoga https://stackoverflow.com/questions/40145779/angular-2-block-get-request-on-a-url Dakle, moguce je doci na ovu stranicu jedino iz koda, tj u mom slucaju redirekcijom na ovu stranicu posle registracije, ne moze se doci preko address bara u browseru. -->


<div id="myid-verification-message">
	<p *ngIf="routePath === 'register/verification-message' && createdUserName">
	  Thank you for registering {{createdUserName}}! To complete the registration process, we sent you an email message, where you need to confirm the registration.
	</p>
</div>
