.myclass-view-image-wrapper{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #333333C8;
	text-align: center;
	z-index: 1000;
	overflow: auto;
}

.myclass-showing-image{
	width: 60%;
}