<div #progressBar class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
</div>

<p id="myid-safe-access-message">This is a page with safe access</p>


<form #registerForm="ngForm" (ngSubmit)="resetPassword()">

    <div class="form-group">
        <label for="email">Email address</label>
        <!-- Da bi mogao da stavim odredjenu sirinu input polja (da mi ne ide preko celog ekrana ko po defaultu) po onom sto pise u dokumentaciji i sto se preporucuje i ovde https://www.w3schools.com/bootstrap4/bootstrap_forms_sizing.asp to treba raditi sa dodavanjem col klasa. E sad one bi trebalo da su u divu koji ima row klasu. E da, ali ti kad dodas row klasu, on ti doda negativne margine i to ovde rezultira da ti nisu label i input polje poravnati, vec input polje strci ulevo za 15px. I da bi se to anuliralo tj ponistilo nasao sam ovu foru da ga strpam u div sa container klasom (vidi https://medium.com/@evidanary/fixing-negative-margins-in-bootstrap-til-ebe3f6b8a6ec , https://stackoverflow.com/questions/18969051/bootstrap-3-why-is-row-class-is-wider-than-its-container). Ima jos fora da se to resi naravno, al mi se ova bar zasad cini najpouzdanijom -->
        <div class="container myclass-input-container-class">
          <div class="row">
            <input #email="ngModel" [(ngModel)]="user.email" type="email" class="form-control col-8 col-md-6 col-lg-5" id="email" name="email" required email readonly>
          </div>
        </div>

        <div class="container myclass-error-container-class">
          <div class="row">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger col-8 col-md-6 col-lg-5">
                <div *ngIf="email.errors.required">
                    Email is required.
                </div>
            
                <div *ngIf="email.errors.email">
                    Please provide valid email address.
                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="form-group">
        <label for="password">
           Password
           
       </label>

       <div class="container myclass-input-container-class">
         <div class="row">
            <input #password="ngModel" [(ngModel)]="user.password" required minlength="8" pattern="\w*[0-9]{1,}\w*" 
                 type="password" class="form-control col-8 col-md-6 col-lg-5" id="password" name="password">
         </div>
       </div>

       <div class="container myclass-error-container-class">
         <div class="row">

            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger col-8 col-md-6 col-lg-5">
                 <div *ngIf=" password.errors.required ">
                    Password is required
                 </div>
                 <ng-container *ngIf="password.dirty">
                   <div *ngIf=" password.errors.minlength ">
                      Password must be at least 8 chars
                   </div>
                   <div *ngIf=" password.errors.pattern ">
                      Password must contain at least one number
                   </div>
                 </ng-container>
            </div>

         </div>
       </div>

    </div>


    <div class="form-group">
        <label for="password_confirmation">
           Confirm Password
           
       </label>
        <div class="container">
          <div class="row">
            <input #confirmPassword="ngModel" [(ngModel)]="user.confirmPassword" required 
                type="password" class="form-control col-8 col-md-6 col-lg-5" id="password_confirmation" name="password_confirmation">
          </div>
        </div>
        <div class="container myclass-error-container-class">
          <div class="row">

              <div *ngIf="(confirmPassword.invalid || confirmPassword.value !== password.value) && (confirmPassword.touched || confirmPassword.dirty)" class="alert alert-danger col-8 col-md-6 col-lg-5">
                
                 <div *ngIf="confirmPassword.invalid && confirmPassword.errors.required ">
                    Confirmed password is required
                 </div>
                  
                 <div *ngIf="confirmPassword.dirty && confirmPassword.value !== password.value">
                    Confirmed password is not the same password
                 </div>

              </div>

          </div>
        </div>

        
    </div>

    <button #btnResetPassword type="submit" [disabled]="!registerForm.valid || confirmPassword.value !== password.value" id="myid-register-submit-button" class="btn btn-primary">Reset password</button>
</form>
