/* You can add global styles to this file, and also import other style files */

body{
	background-image: url(assets/images/hqdefault.jpg);
}

.myclass-router-outlet-wrapper{
	background-color: white;
	padding: 50px 80px;
	min-height: 100vh;
}

.myclass-galleries-container{
	margin-top: 25px;
	text-align: center;
	/*background-color: rgba(230, 219, 25, 0.5);
	padding: 20px;
	border-radius: 10px;*/
}

.myclass-galleries-container > * + * {
	margin-top: 45px;
}

.myclass-galleries-images-container{
	display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  
  
}

.myclass-galleries-index-images{
	width: 30%;
	margin-bottom: 20px;
}

.myclass-popover-div-wrapper{
	display: inline-block;
	margin-top: 2px;
}

.myclass-popover-div{
	
}

.myclass-triangle{
	font-size: 80px;
	color: red;
}

.popover.top.in{
	background-color: black;
	border: none;
	margin-top: -10px;

}


.arrow{
/*	border: 5px solid blue;
	width: 80px;*/
}


.popover-content{
	padding: 4px 8px;
	color: red;

}

#myid-load-more-popover-message{
	background-color: black;
	color: red;
	font-size: 14px;
	padding: 5px 9px;
	border-radius: 10px;
	margin-bottom: -7px;
	position: relative;
	z-index: 2;
}


#myid-load-more-popover-arrow{
	color: black;
	font-size: 15px;
	line-height: 1;
	position: relative;
	z-index: 1;
}

.myclass-new-popover-wrapper{
	visibility: hidden;
}

button:disabled{
	cursor: not-allowed;
}
