<div #progressBar [ngStyle]="{'visibility': disableProgressBar > 0 ? 'visible' : 'hidden'}" class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
</div>
<div #disabledOverlay class="myclass-disabled-overlay"></div>


<div id="myid-my-account-wrapper">

<!--Ovo je angular reactive (iliti model driven) forma-->
<form (ngSubmit)="updateAccountData2()" [formGroup]="updateAccountDataForm"><!-- Ovde mozes staviti metode updateAccountData() i updateAccountData2(). Preporucujem updateAccountData2, a zasto, pise u ts fajlu -->
    <div class="form-group">
        <label for="firstName">First name</label>
        <!-- Da bi mogao da stavim odredjenu sirinu input polja (da mi ne ide preko celog ekrana ko po defaultu) po onom sto pise u dokumentaciji i sto se preporucuje i ovde https://www.w3schools.com/bootstrap4/bootstrap_forms_sizing.asp to treba raditi sa dodavanjem col klasa. E sad one bi trebalo da su u divu koji ima row klasu. E da, ali ti kad dodas row klasu, on ti doda negativne margine i to ovde rezultira da ti nisu label i input polje poravnati, vec input polje strci ulevo za 15px. I da bi se to anuliralo tj ponistilo nasao sam ovu foru da ga strpam u div sa container klasom (vidi https://medium.com/@evidanary/fixing-negative-margins-in-bootstrap-til-ebe3f6b8a6ec , https://stackoverflow.com/questions/18969051/bootstrap-3-why-is-row-class-is-wider-than-its-container). Ima jos fora da se to resi naravno, al mi se ova bar zasad cini najpouzdanijom -->
        <div class="container myclass-input-container-class">
            <div class="row">
                <input #firstNameInput type="text" name="firstName" id="firstName" class="form-control col-8 col-sm-6 col-md-5" formControlName="firstName" readonly="readonly" (blur)="inputBlurHandler($event)">
                &nbsp;&nbsp;<button #btnChangeFirstName *ngIf="userDataReceived" (click)="changeInputToggle($event)" type="button" id="btnChangeFirstName" class="btn btn-success">Change</button>
            </div>
            <div class="row">
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger col-8 col-sm-6 col-md-5">
                    <div *ngIf="firstName.errors.required || firstName.errors.pattern">
                        Please fill this field or press cancel.
                    </div>
                    <div *ngIf="firstName.errors.sameValue">
                        You can not enter the same value.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="lastName">Last name</label>
        <div class="container myclass-input-container-class">
            <div class="row">
                <input #lastNameInput type="text" name="lastName" id="lastName" class="form-control col-8 col-sm-6 col-md-5" formControlName="lastName" readonly (blur)="inputBlurHandler($event)">
                &nbsp;&nbsp;<button #btnChangeLastName *ngIf="userDataReceived" (click)="changeInputToggle($event)" type="button" id="btnChangeLastName" class="btn btn-success">Change</button>
            </div>
            <div class="row">
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger col-8 col-sm-6 col-md-5">
                    <div *ngIf="lastName.errors.required || lastName.errors.pattern">
                        Please fill this field or press cancel.
                    </div>
                    <div *ngIf="lastName.errors.sameValue">
                        You can not enter the same value.
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <p class="myclass-logout-message col-8 col-sm-6 col-md-5">
            * Note that email change (after confirmation via email) will log you out everywhere where you were logged in till now.
        </p>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <div class="container myclass-input-container-class">
            <div class="row">
                <input #emailInput type="email" name="email" id="email" class="form-control col-8 col-sm-6 col-md-5" formControlName="email" readonly (blur)="inputBlurHandler($event)">
                &nbsp;&nbsp;<button #btnChangeEmail *ngIf="userDataReceived" (click)="changeInputToggle($event)" type="button" id="btnChangeEmail" class="btn btn-success">Change</button>
            </div>
            <div class="row">
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger col-8 col-sm-6 col-md-5">
                    <div *ngIf="email.errors.required || email.errors.pattern">
                        Please fill this field or press cancel.
                    </div>
                    
                    <!-- Ovde moze da stoji ovaj dupli uslov, nekad to nije dobro jer ti se uslov iz parrent diva sa klasama alert alert-danger zadovolji a ne zadovolji ti se nijedan od pojedinacnih child divova i onda ti se na stranici pojavi prazan crveni div bez poruke-->
                    <div *ngIf="email.errors.email && email.dirty">
                        Please provide valid email address.
                    </div>

                    <div *ngIf="email.errors.sameValue">
                        You can not enter the same value.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="myclass-hidden-fields-for-preventing-bugs">
        <!-- Ovo ovde stoji zato sto sranje od browsera kada unesem zapamcenu sifru u password polje mi promeni gore email ili last name u email kojem ta sifra pripada. Opiceno, al ovo to resava, i da moras ovakve stilove primeniti, ne funkcionise ako ga sakrijes preko visibility ili display -->
        <input type="text" name="hiddenField1" id="hiddenField1">
    </div>

    <div class="row">
        <p class="myclass-logout-message col-8 col-sm-6 col-md-5">
            * Note that password change (after confirmation via email) will log you out everywhere where you were logged in till now.
        </p>
    </div>

    <div #passwordChangeContainer class="myclass-password-change-container" formGroupName="changePassword">
        
        <div class="form-group">
            <label for="password">Password</label>
            <div class="container myclass-input-container-class">
                <div class="row">
                    <!-- Pomocu ovog autocomplete="new-password" se postize u chromu da ti ne ispisuje odmah sifru u input polju, ali em ovo msm nije u svim browserima implementirano, em ti i chrome cim kliknes na polje sifre odmah u dropdownu nudi tu sifru, tako da slaba vajda, al ajd... Nesto o tome ovde https://developer.mozilla.org/en-US/docs/Web/Security/Securing_your_site/Turning_off_form_autocompletion , a imas ina stackoverflow https://stackoverflow.com/questions/15738259/disabling-chrome-autofill i ima toga jos po istom sajtu a i po netu, ali nisam nasao jos nesto sto stvarno skroz disableuje ove zapamcene sifre-->
                    <input autocomplete="new-password" #passwordInput type="password" name="password" id="password" class="form-control col-8 col-sm-6 col-md-5" formControlName="password" (blur)="inputBlurHandler($event)">
                </div>
                <div class="row">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger col-8 col-sm-6 col-md-5">
                        <div *ngIf=" password.errors.required ">
                           Please fill in this field or press cancel
                        </div>
                        <ng-container *ngIf="password.dirty">
                          <div *ngIf=" password.errors.minlength ">
                             Password must be at least 8 chars
                          </div>
                          <div *ngIf=" password.errors.pattern ">
                             Password must contain at least one number
                          </div>
                        </ng-container>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="password_confirmation">Confirm password</label>
            <div class="container myclass-input-container-class">
                <div class="row">
                    <input autocomplete="new-password" #confirmPasswordInput type="password" name="password_confirmation" id="password_confirmation" class="form-control col-8 col-sm-6 col-md-5" formControlName="confirmPassword" (blur)="inputBlurHandler($event)">
                </div>
            </div>

            <div class="container myclass-error-container-class">
              <div class="row">

                  <div *ngIf="(confirmPassword.invalid || confirmPassword.value !== password.value) && (confirmPassword.touched || confirmPassword.dirty)" class="alert alert-danger col-8 col-md-6 col-lg-5">
                    
                     <div *ngIf="confirmPassword.invalid && confirmPassword.errors.required ">
                        Please fill in this field or press cancel
                     </div>
                      
                     <div *ngIf="confirmPassword.dirty && confirmPassword.value !== password.value">
                        Confirmed password is not the same password
                     </div>

                  </div>

              </div>
            </div>

        </div>

    </div>

    <div class="form-group">
        <button #btnChangePassword *ngIf="userDataReceived" type="button" id="btnChangePassword" class="btn btn-success" (click)="togglePasswordChangeContainer()">Change your password</button>
    </div>




    <div *ngIf="loggedUserExsistingProfileImage" id="loggedUserExsistingProfileImageContainer">
        <img id="loggedUserExsistingProfileImage" src="{{loggedUserExsistingProfileImage}}">
        <p>Your current profile image</p>
    </div>

    <!-- ************** Image Cropper ************* -->

    <div id="myid-image-upload-wrapper">
        <label for="myid-choose-profile-image" *ngIf="!loggedUserExsistingProfileImage; else changeImage">Add your profile image</label>
        <ng-template #changeImage>
            <label for="myid-choose-profile-image">Change your profile image</label>
        </ng-template>
        <div>
            <input type="file" accept="image/*" id="myid-choose-profile-image" class="btn btn-light" (change)="fileChangeEvent($event)" formControlName="profileImage"/>
            
            <button type="button" id="myid-clear-profile-image" class="btn btn-dark" *ngIf="imageChangedEvent || croppedImage" (click)="clearImage()">Clear image</button>
        </div>

        <div #uploadImageErrorDiv [hidden]="!uploadImageError" class="alert alert-danger myclass-upload-image-error">
          {{uploadImageError}}
        </div>

        <div id="myid-image-cropper-container">
            <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="1 / 1"
                [resizeToWidth]="128"
                format="png"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
        </div>
        <div *ngIf="croppedImage" id="myid-cropped-image-container">
            <p>
                You can crop the image with handles.<br>
                It will look like this:
            </p>
            <!-- ovde stavljam [style.borderRadius]="'50%'" cisto da vidis sintaksu kako se pise, inace mogao je komotno ovde da ide samo style atribut-->
            <img [src]="croppedImage" [style.borderRadius]="'50%'"/>
        </div>
    </div>
    <!-- ****************************************** -->

    <button type="submit" class="btn btn-primary btn-block" [disabled]="!userDataReceived || updateAccountDataForm.invalid || !formDataChanged || confirmPassword.value !== password.value">Submit changes</button>

</form>

<!-- Posto je zajebano otvarati modal iz angularovog koda, morao bi il rucno da dodajem klase, atribute i ko zna sta jos, ili bi morao na neki hacky nacin da ubacujem jquery, najlakse je zapravo simulirati klik na ovo sakriveno dugme (pokupio ovde https://stackoverflow.com/questions/35400811/how-to-use-code-to-open-a-modal-in-angular-2), inace ovaj data-toggle="modal" govori da ovo dugme i otvara i zatvara modal (https://getbootstrap.com/docs/4.0/components/modal/#via-data-attributes)-->
<button #passwordModalButtonTrigger type="button" [hidden]="true" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Toggle modal
</button>


<!-- Bootstrap modal -->
<div #passwordModal class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false"><!-- Da zabranis modalu da se zatvara na klik van njega, treba da mu zadas  data-backdrop="static", a da mu zabranis da se zatvara na escape dugme data-keyboard="false"-->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please reenter your password</h5>
        <button #modalCloseButton (click)="resetReEnteredPasswordForm()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>When changing sensitive data like name, email or password, we need to be sure it is actually YOU who is changing this data, so you need to provide us your <strong>password</strong> with which you are currently logged in, and <strong>confirmation</strong> via the email that we will send you!</p>
        <hr>
        <!-- Ovo nije angular reactive forma! -->
        <form #reEnteredPasswordForm="ngForm" (ngSubmit)="updateAccountDataWithReEnteredPasswordAndMailConfirmation(reEnteredPassword)"><!-- Ovde mozes koristiti dve metode, updateAccountDataWithReEnteredPassword(reEnteredPassword) i updateAccountDataWithReEnteredPasswordAndMailConfirmation(reEnteredPassword) i obe rade savrseno posao a imena ti govore sta rade. Prvu mozes koristiti u paru i sa updateAccountData() i sa updateAccountData2() u prvoj formi, ali preporucujem updateAccountData2(). Drugu mozes koristiti samo sa updateAccountData2(). -->
          <div class="form-group">
            <label for="reEnteredPassword" class="col-form-label">Password:</label>
            <input #reEnteredPasswordInput [(ngModel)]="reEnteredPassword" type="password" class="form-control" id="reEnteredPassword" name="reEnteredPassword" (paste)="$event.preventDefault()"><!-- Sa ovim (paste)="$event.preventDefault()" zabranjujem da se bilo sta pasteuje u ovo polje, pokupio ovde https://stackoverflow.com/questions/12805803/disable-copy-paste-in-html-input-fields , mada i kad bi sklonio ovaj kod nista ne bi mogao da pasteujes jer u ts fajlu imam kod koji zabranjuje da se u ovo polje odjednom unese vise znakova, ali oba rade posao-->
          </div>
          <button #modalSubmitButton [disabled]="!reEnteredPassword" type="submit" class="btn btn-primary">Submit</button>
          <button #modalCancelButton (click)="resetReEnteredPasswordForm()" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </form>
      </div>
      <!-- <div class="modal-footer">
        
      </div> -->
    </div>
  </div>
</div>

</div>
